# Python For loops Lab

### Learning Objectives

* Understand how for loops can help us reduce repetition
* Understand the syntax of for loops

### Picking up where we last left off

In the last lesson, we worked with some of our travel data.  Let's retrieve a list with our travel information again from excel.  First, we read the information from excel as a list of dictionaries, with each dictionary representing a location.  And we assign this list to the variable `cities`.

In [1]:
import pandas
file_name = './cities.xlsx'
travel_df = pandas.read_excel('./cities.xlsx')
cities = travel_df.to_dict('records')

Next, we retrieve the first three city names, stored as the `'City'` attribute of each dictionary, and `'Population'` of each of the cities.  Then we plot the names as our `x_values` and the populations as our `y_values`.

In [2]:
import plotly

plotly.offline.init_notebook_mode(connected=True)

x_values = [cities[0]['City'], cities[1]['City'], cities[2]['City']]
y_values = [cities[0]['Population'], cities[1]['Population'], cities[2]['Population']]
trace_first_three_pops = {'x': x_values, 'y': y_values, 'type': 'bar'}
plotly.offline.iplot([trace_first_three_pops])

Of course, as you may have spotted, there is a good amount of repetition in displaying this data.  Just take a look at how we retrieved the data for our `x_values` and `y_values`.

In [3]:
x_values = [cities[0]['City'], cities[1]['City'], cities[2]['City']]
y_values = [cities[0]['Population'], cities[1]['Population'], cities[2]['Population']]

So in this lesson, we will use our `for` loop to display information about our travel locations with less repetition.

### Working with the For Loop

Our `cities` list contains information about the top 12 cities.  For our upcoming iteration tasks, it will be useful to have a list of the numbers 0 through 11.  Use what we know about `len` and `range`to generate a list of numbers 1 through 11.  Assign this to a variable called `city_indices`.

In [4]:
city_indices = list(range(0, len(cities)))
city_indices

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Now we want to create labels for each of the cities. We'll provide a list of the `city_names` for you.

In [5]:
city_names = ['Buenos Aires',
 'Toronto',
 'Pyeongchang',
 'Marakesh',
 'Albuquerque',
 'Los Cabos',
 'Greenville',
 'Archipelago Sea',
 'Walla Walla Valley',
 'Salina Island',
 'Solta',
 'Iguazu Falls']

Your task is to assign the variable `names_and_ranks` to a list, with each element equal to the city name and it's corresponding rank.  For example, the first element would be, `"1. Buenos Aires"` and the second would be `"2. Toronto"`.  Use a `for` loop and the lists `city_indices` and `city_names` to accomplish this.

In [7]:
names_and_ranks = []
index_count = 0

for i in range(0,len(city_indices)):
    for city in city_names:
        index_count += 1
        rank_name = str(i) + ". " + city
        names_and_ranks.append(rank_name)
        
print(names_and_ranks)

['0. Buenos Aires', '0. Toronto', '0. Pyeongchang', '0. Marakesh', '0. Albuquerque', '0. Los Cabos', '0. Greenville', '0. Archipelago Sea', '0. Walla Walla Valley', '0. Salina Island', '0. Solta', '0. Iguazu Falls', '1. Buenos Aires', '1. Toronto', '1. Pyeongchang', '1. Marakesh', '1. Albuquerque', '1. Los Cabos', '1. Greenville', '1. Archipelago Sea', '1. Walla Walla Valley', '1. Salina Island', '1. Solta', '1. Iguazu Falls', '2. Buenos Aires', '2. Toronto', '2. Pyeongchang', '2. Marakesh', '2. Albuquerque', '2. Los Cabos', '2. Greenville', '2. Archipelago Sea', '2. Walla Walla Valley', '2. Salina Island', '2. Solta', '2. Iguazu Falls', '3. Buenos Aires', '3. Toronto', '3. Pyeongchang', '3. Marakesh', '3. Albuquerque', '3. Los Cabos', '3. Greenville', '3. Archipelago Sea', '3. Walla Walla Valley', '3. Salina Island', '3. Solta', '3. Iguazu Falls', '4. Buenos Aires', '4. Toronto', '4. Pyeongchang', '4. Marakesh', '4. Albuquerque', '4. Los Cabos', '4. Greenville', '4. Archipelago Sea', '4. Walla Walla Valley', '4. Salina Island', '4. Solta', '4. Iguazu Falls', '5. Buenos Aires', '5. Toronto', '5. Pyeongchang', '5. Marakesh', '5. Albuquerque', '5. Los Cabos', '5. Greenville', '5. Archipelago Sea', '5. Walla Walla Valley', '5. Salina Island', '5. Solta', '5. Iguazu Falls', '6. Buenos Aires', '6. Toronto', '6. Pyeongchang', '6. Marakesh', '6. Albuquerque', '6. Los Cabos', '6. Greenville', '6. Archipelago Sea', '6. Walla Walla Valley', '6. Salina Island', '6. Solta', '6. Iguazu Falls', '7. Buenos Aires', '7. Toronto', '7. Pyeongchang', '7. Marakesh', '7. Albuquerque', '7. Los Cabos', '7. Greenville', '7. Archipelago Sea', '7. Walla Walla Valley', '7. Salina Island', '7. Solta', '7. Iguazu Falls', '8. Buenos Aires', '8. Toronto', '8. Pyeongchang', '8. Marakesh', '8. Albuquerque', '8. Los Cabos', '8. Greenville', '8. Archipelago Sea', '8. Walla Walla Valley', '8. Salina Island', '8. Solta', '8. Iguazu Falls', '9. Buenos Aires', '9. Toronto', '9. Pyeongchang', '9. Marakesh', '9. Albuquerque', '9. Los Cabos', '9. Greenville', '9. Archipelago Sea', '9. Walla Walla Valley', '9. Salina Island', '9. Solta', '9. Iguazu Falls', '10. Buenos Aires', '10. Toronto', '10. Pyeongchang', '10. Marakesh', '10. Albuquerque', '10. Los Cabos', '10. Greenville', '10. Archipelago Sea', '10. Walla Walla Valley', '10. Salina Island', '10. Solta', '10. Iguazu Falls', '11. Buenos Aires', '11. Toronto', '11. Pyeongchang', '11. Marakesh', '11. Albuquerque', '11. Los Cabos', '11. Greenville', '11. Archipelago Sea', '11. Walla Walla Valley', '11. Salina Island', '11. Solta', '11. Iguazu Falls']

In [ ]:
names_and_ranks[0] # '1. Buenos Aires'
names_and_ranks[1] # '2. Toronto'
names_and_ranks[-1] # '12. Iguazu Falls'

Ok, now let's create a new variable called `city_populations`.  Use a `for` loop to iterate through `cities` and have `city_populations` equal to each of the populations.

In [11]:
city_populations = []

In [ ]:
city_populations[0] # 2891000
city_populations[1] # 2800000
city_populations[-1] # 0

Great! Now we can begin to plot this data.  First, let's create a trace of our populations and set it to the variable `trace_populations`.

In [28]:
trace_populations = {'x': names_and_ranks, 
                     'y': city_populations, 
                     'text': names_and_ranks, 
                     'type': 'bar', 
                     'name': 'populations'}

In [ ]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
plotly.offline.iplot([trace_populations])

Now we want declare a variable called `city_areas` that points to a list of all of the areas of the cities.  Let's use a `for` loop to iterate through our `cities` and have `city_areas` equal to each area of the city.

In [13]:
city_areas = []

In [14]:
trace_areas = {'x': names_and_ranks, 'y': city_areas, 'text': names_and_ranks, 'type': 'bar', 'name': 'areas'}

In [ ]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
plotly.offline.iplot([trace_populations, trace_areas])

### Summary

In this section we saw how we can use `for` loops to go through elements of a list and perform the same operation on each.  By using `for` loops we were able to reduce the amount of code that we wrote and while also writing more expressive code.